@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }
    50%{
        opacity: 0.4;
    }
    75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
        height:50px;
    }
}

@keyframes fadeOut {
    50%{
        opacity: 0;
    }
    100%{
        height: 0px;
        opacity: 0;
        display: none;
    }
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.descriptionCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    margin: 0 60px;
    border-radius: 0px 0px 5px 5px;
    background-color: #FFC300;
    color: #001D3D;
    font-family: "Sora", sans-serif;
    font-weight: 300;
    font-size: 18px;
    opacity: 0;
    height: 0px;
    word-wrap: break-word;
    animation: fadeIn 0.5s forwards ease-out;
}

.fadeOut{
    opacity: 1;
    height: 50px;
    animation: fadeOut 0.5s forwards ease-out;
}

.title-area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Sora", sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: #EDE8E8;
    padding: 20px 60px;
    color: #EDE8E8;
    z-index: 7;
}

.plusImg{
    width: 40px;
    z-index: 5;
}
